/.vs/config/applicationhost.config
/.vs/sprayartsbackemd/v16/Server/sqlite3/db.lock
/.vs/sprayartsbackemd/v16/.suo
/.vs/sprayartsbackend/config/applicationhost.config
/.vs/sprayartsbackend/v15/Server/sqlite3/db.lock
